{% extends 'base.html'  %}

{% block content %}

<h1>THIS IS MY Home PAGE </h1>
<br>
<h1>RANDOM FACTS THAT YOU WON’T BELIEVE ARE TRUE</h1>
<br>
<p>
Giant Pandas eat approximately 28 pounds of bamboo a day – that’s over 5 tons per year!

The Nobel Peace Prize is named for Alfred Nobel, the inventor of dynamite.

Cats are not able to taste anything that is sweet.

You fart on average 14 times a day, and each fart travels from your body at 7 mph.

One of the ingredients needed to make dynamite is peanuts.

The largest living organism in the world is a fungus.  It is in Oregon, covering 2,200 acres and is still growing.
</p>

{% endblock %}